<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBygy1gL0etxBfLzhc0aGR8LvFGMRWdUTA</string>
	<key>GCM_SENDER_ID</key>
	<string>468112905284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.netlify.jjplaybook</string>
	<key>PROJECT_ID</key>
	<string>test-6b2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>test-6b2ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468112905284:ios:18b60caa5ca3d88cc9d811</string>
</dict>
</plist>